<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>

<body>
    <main>
        <form class="product-form" action="/users" method="POST">
            <div class="form-control">
                <label for="title">Name of the user:</label>
                <input type="text" name="userName" id="userName">
            </div>

            <button type="submit">Add User</button>
        </form>

        {{#if hasUsers}}
        <h1>List of Users</h1>
            <ul>
            {{#each users}}
            <li>{{this}}</li>
            {{/each}}
  </ul>
        <form class="product-form" action="/users-clear" method="POST">
            <button type="submit">Clear logged-in users list</button>
        </form>
        {{/if}}
    </main>
</body>

</html>