<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <main>
        <h1>Current items in the cart:</h1>
        <ul>
        {{#if hasProducts}}
            {{> item}}
        {{else}}
            <h1>No Products Found!</h1>
        {{/if}}
           
        </ul>
    </main>
</body>


</html>