 <link rel="stylesheet" href="/css/orders.css">

<main>

    {{#if hasOrders}}

    <ul class="orders">
        {{#each orders}}
        <li class="orders__item">
            <h1>Order - {{this._id}}</h1>
            <ul class="orders__products">
                {{#each this.items}}
                <li class="orders__products-item">
                    <h3>Title: {{this.title}}</h3>
                    <p>Qunatity: {{this.quantity}}</p>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

    {{else}}
    <h1>No current orders!</h1>
    {{/if}}

</main>
